<!doctype html>
<html lang="en" class="dark">
<head>
    <title>BQN Editor</title>
    <meta charset="utf-8">
    <meta name="description" content="BQN Editor in React">
    <meta name="author" content="Fun Maker">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/palette.css" rel="stylesheet">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>
<body>
    <div id="root"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>
</html>
